<footer class="container-fluid row border-top mt-5">
    <div class="col">
        <p>Diplomatura de desarrollo web UTN</p>
        <p>Turno nocturno - Lunes y Miercoles de 19hs a 22hs</p>
    </div>
    <div class="col d-flex justify-content-center">
        <img class="float-center" src="https://www.frba.utn.edu.ar/wp-content/uploads/2016/08/logo-utn.ba-horizontal-e1471367724904.jpg" alt="logo-utn" height="100px">
    </div>
    <div class="col text-end p-0">
        <p class="m-0">Alumno: Mauro Daniel Di Filippo</p>
        <p class="m-0">DNI: 44544627</p>
        <p class="m-0">Profesor: Marcelo Bettini</p>
        <p class="m-0">Ayudante: Brian Galli</p>
    </div>
</footer>