<header>
    <div class="row align-items-start">
    <div class="col p-0">
      <img class="p-2 me-2" src="https://logodownload.org/wp-content/uploads/2016/11/formula-1-logo-7.png" alt="Logo-f1" width="175px" height="50px">
    </div>
    <div class="col text-center p-0">
      <h1 class="col">Formula One</h1>
    </div>
    <div class="col p-0 d-flex justify-content-end align-self-center ">
      {{#if user}}
        <div class="shadow-lg bg-body rounded fw-bold  w-50 text-center me-2" style="width: 6rem;">
          Hola {{user.name}}
        </div>
        <a class="btn btn-danger me-4" href="users/logout">Logout</a>
      {{else}}
        <a class="btn btn-danger me-4 " href="/users/login" role="button">Log in</a>
        <a class="btn btn-dark me-4 " href="/users/register" role="button">Registrate</a>
      {{/if}}
    </div>
    </div>
    
</header>