{{>header}}
{{#if user}}
{{>navbar}}
{{/if}}
<div class="card text-bg-dark d-flex align-items-center text-center m-1">
  <img src="https://fotos.perfil.com/2022/04/23/trim/720/410/colapinto-1345630.jpg" class="card-img opacity-50" alt="franco-colapinto" width="15rem">
  <div class="card-img-overlay d-flex align-items-center">
    <div>
    <h2 class="fonts">Franco Colapinto</h2>
    <p class="card-text text-break">Luego de una muy buena clasificacion Colapinto logro largar primero y mantener su lugar para conseguir la victoria en Monza, la ultima carrera de la temporada.
    Un año mas para franco en la F3, un año positivo y con mucho aprendizaje para el joven piloto Argentino.</p>
    </div>
  </div>
</div>
<div class="contaier-fluid mt-4 text-center">
  <div class=" align-self-center " >
    <h1>Max es el campeon de la F1 2022</h1>
    <div class="ms-2 fs-5">
    <p>Max Verstappen ya se ha proclamado campeón del Mundo. Era obvio que lo iba a hacer más pronto que tarde. Su distancia con respecto al resto de competidores era demasiado grande como para que se le llegase a escapar en algún momento al piloto de Red Bull. Hizo una temporada impecable, a pesar de unos primeros momentos más dubitativos. Merecido el título para el ya bicampeón de Fórmula 1.</p>
    </div>
  </div>
  <img src="https://www.formula1.com/content/dam/fom-website/manual/Misc/2022manual/2022Races/JapaneseGP/Post-race/GettyImages-1431903059.jpg.transform/9col/image.jpg" class="rounded img-fluid  mx-auto border border-4 border-danger " alt="Verstappen-campeon">
</div>
<div class="container mt-4"> 
  <h1 class="text-center text-dark">FIA anuncio el calendario para la temporada 2023</h1>
<table class="table border border-4 border-dark rounded justify-content-center table-light">
  <thead>
    <tr>
      <th scope="col">Dia</th>
      <th scope="col">Grand Prix</th>
      <th scope="col">lugar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">5 de marzo</th>
      <td>Baréin</td>
      <td>Sakhir</td>
    </tr>
    <tr>
      <th scope="row">19 de Marzo</th>
      <td>Arabia Saudita</td>
      <td>Jeddah</td>
    </tr>
    <tr>
      <th scope="row">2 de Abril</th>
      <td>Australia</td>
      <td>Melbourne</td>
    </tr>
    <tr>
      <th scope="row">16 de abril</th>
      <td>China</td>
      <td>Shanghai</td>
    </tr>
    <tr>
      <th scope="row">30 de Abril</th>
      <td>Azerbaiyán</td>
      <td>Bakú</td>
    </tr>
    <tr>
      <th scope="row">Mayo 7</th>
      <td>miami</td>
      <td>miami</td>
    </tr>
    <tr>
      <th scope="row">21 de mayo</th>
      <td>Emilia Romaña</td>
      <td>Imola</td>
    </tr>
    <tr>
      <th scope="row">28 de mayo</th>
      <td>Mónaco</td>
      <td>Mónaco</td>
    </tr>
    <tr>
      <th scope="row">4 de junio</th>
      <td>España</td>
      <td>Barcelona</td>
    </tr>
    <tr>
      <th scope="row">18 de junio</th>
      <td>Canadá</td>
      <td>Montréal</td>
    </tr>
    <tr>
      <th scope="row">2 de julio</th>
      <td>Austria</td>
      <td>Spielberg</td>
    </tr>
    <tr>
      <th scope="row">9 de julio</th>
      <td>Reino Unido</td>
      <td>Silverstone</td>
    </tr>
    <tr>
      <th scope="row">23 de julio</th>
      <td>Hungría</td>
      <td>budapest</td>
    </tr>
    <tr>
      <th scope="row">30 de julio</th>
      <td>Bélgica</td>
      <td>Spa</td>
    </tr>
    <tr>
      <th scope="row">27 de agosto</th>
      <td>Países Bajos</td>
      <td>Zandvoort</td>
    </tr>
    <tr>
      <th scope="row">3 de septiembre</th>
      <td>Italia</td>
      <td>Monza</td>
    </tr>
    <tr>
      <th scope="row">Septiembre 17</th>
      <td>Singapur</td>
      <td>Singapur</td>
    </tr>
    <tr>
      <th scope="row">24 de septiembre</th>
      <td>Japón</td>
      <td>Suzuka</td>
    </tr>
    <tr>
      <th scope="row">8 de octubre</th>
      <td>Qatar</td>
      <td>Lusail</td>
    </tr>
    <tr>
      <th scope="row">22 de octubre</th>
      <td>EE.UU</td>
      <td>austin</td>
    </tr>
    <tr>
      <th scope="row">29 de octubre</th>
      <td>México</td>
      <td>Ciudad de México</td>
    </tr>
    <tr>
      <th scope="row">5 de noviembre</th>
      <td>Brasil</td>
      <td>Sao Paulo</td>
    </tr>
    <tr>
      <th scope="row">18 de noviembre</th>
      <td>Las Vegas</td>
      <td>Las Vegas</td>
    </tr>
    <tr>
      <th scope="row">26 de noviembre</th>
      <td>Abu Dhabi</td>
      <td>yas marina</td>
    </tr>
  </tbody>
</table>
</div>
{{>footer}}