{{>header}}
{{#if user}}
{{>navbar}}
{{/if}}
<div class="card text-bg-dark d-flex align-items-center text-center m-1">
  <img src="https://fotos.perfil.com/2022/04/23/trim/720/410/colapinto-1345630.jpg" class="card-img opacity-50" alt="franco-colapinto" width="15rem">
  <div class="card-img-overlay d-flex align-items-center">
    <div>
    <h2 class="fonts">Franco Colapinto</h2>
    <p class="card-text ">Luego de una muy buena clasificacion Colapinto logro largar primero y mantener su lugar para conseguir la victoria en Monza, la ultima carrera de la temporada.
    Un año mas para franco en la F3, un año positivo y con mucho aprendizaje para el joven piloto Argentino.</p>
    </div>
  </div>
</div>
{{>footer}}