<div>
  
<header class="border-bottom border-end border-3 rounded-2 border-dark p-2">
    <div class="">
    <div class="p-0 center">
      <img class="p-2 me-2" src="https://logodownload.org/wp-content/uploads/2016/11/formula-1-logo-7.png" alt="Logo-f1" width="175px" height="50px">
    </div>
    </div>
</header>
<div class="row justify-content-center align-items-center vh-100 bg-warning bg-opacity-10">
        <div class="col-4">
            <h2 class="pb-4 border-bottom border-2 border-dark">Iniciar Sesion</h2>
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label tipografy">Email</label>
                    <input type="email" class="form-control  " id="exampleInputEmail1" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
</div>
</div>
{{!-- <div class="container mt-5 " >
  <form class="container col-5 py-4 px-4 col-10 col-md-6 col-lg-6 border border-dark">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" autofocus>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div> --}}
</div>