{{>header}}
{{>navbar}}
<div class="container-fluid mx-1">
<div class="row justify-content-center text-center">
<div class="card m-2 " style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/max-verstappen.jpg" class="card-img-top" alt="Verstappen">
  <div class="card-body">
    <p class="card-text">Max Verstappen</p>
  </div>
</div>
<div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/sergio-perez.jpg" class="card-img-top" alt="Perez">
  <div class="card-body">
    <p class="card-text">Sergio Perez</p>
  </div>
</div>
<div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/lewis-hamilton.jpg" class="card-img-top" alt="Hamilton">
  <div class="card-body">
    <p class="card-text">Lewis Hamilton</p>
  </div>
</div>
<div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/george-russell.jpg" class="card-img-top" alt="Russel">
  <div class="card-body">
    <p class="card-text">George Russel</p>
  </div>
</div>
<div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/carlos-sainz.jpg" class="card-img-top" alt="Sainz">
  <div class="card-body">
    <p class="card-text">Carlos Sainz</p>
  </div>
</div>
<div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/charles-leclerc.jpg" class="card-img-top" alt="Leclerc">
  <div class="card-body">
    <p class="card-text">Charles Leclerc</p>
  </div>
</div>
<div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/lando-norris.jpg" class="card-img-top" alt="Norris">
  <div class="card-body">
    <p class="card-text">Lando Norris</p>
  </div>
</div>
<div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/daniel-ricciardo.jpg" class="card-img-top" alt="Riccardo">
  <div class="card-body">
    <p class="card-text">Daniel Riccardo</p>
  </div>
</div>
<div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/yuki-tsunoda.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Yuki Tsunoda</p>
  </div>
</div>
<div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/pierre-gasly.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Pierre Gasly</p>
  </div>
</div>
<div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/valtteri-bottas.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Valteri Bottas</p>
  </div>
</div>
  <div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/guanyu-zhou.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Guanyu Zhou</p>
  </div>
</div>
  <div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/fernando-alonso.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Fernando Alonso</p>
  </div>
</div>
  <div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/esteban-ocon.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Esteban Ocon</p>
  </div>
</div>
  <div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/sebastian-vettel.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Sebastian Vettel</p>
  </div>
</div>
  <div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/lance-stroll.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Lance Stroll</p>
  </div>
</div>
  <div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/nicholas-latifi.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Nicolas Latifi</p>
  </div>
</div>
  <div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/alexander-albon.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Alex Albon</p>
  </div>
</div>
  <div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/mick-schumacher.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Mick Schumacher</p>
  </div>
</div>
  <div class="card m-2" style="width: 18rem;">
  <img src="https://formula1.lne.es/media/pilotos/medium/kevin-magnussen.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">Kevin Magnussen</p>
  </div>
</div>
</div>
</div>
</div>
{{>footer}}