{{>header}}
{{>navbar}}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/mercedes.jpg?4" class="card-img-top" alt="Auto-Mercedez">
      <div class="card-body">
        <h5 class="card-title fw-bold">Mercedez Benz</h5>
        <p class="card-text">En la actualidad, Mercedes AMG Petronas F1 Team acumula siete Campeonatos en el Mundial de Constructores con un dominio hegemónico desde la nueva era híbrida: 2014, 2015, 2016, 2017, 2018, 2019 y 2020</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/red-bull.jpg?4" class="card-img-top" alt="Auto-Red-Bull">
      <div class="card-body">
        <h5 class="card-title fw-bold">Red Bull</h5>
        <p class="card-text">Red Bull Racing es un equipo austriaco de la Fórmula 1 con sede en Milton Keynes, Inglaterra. Los inicios de la actual estructura de la escudería se remontan al equipo Stewart Grand Prix, fundado en 1997 por Jackie Stewart. Más tarde pasó a denominarse Jaguar Racing desde el 2000 al 2004, tras ser comprado por Ford.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/ferrari.jpg?4" class="card-img-top" alt="Auto-Ferrari">
      <div class="card-body">
        <h5 class="card-title fw-bold">Ferrari</h5>
        <p class="card-text">La primera participación de Ferrari en la Fórmula 1 fue en el Gran Premio de Mónaco de 1950, con el Tipo 125 F1. Es el equipo activo más antiguo del campeonato, en 2020 alcanzó los 1000 Grandes Premios, y es el que ha conseguido más victorias (238), campeonatos de pilotos (15) y campeonatos de constructores (16).</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/alphatauri.jpg?4" class="card-img-top" alt="Auto-Alpha-Tauri">
      <div class="card-body">
        <h5 class="card-title fw-bold">Alpha Tauri</h5>
        <p class="card-text">Es una escudería de Fórmula 1 que surgió a finales de 2005, después de la compra de la escudería Minardi por parte de Red Bull. Actuaba como equipo filial del equipo Red Bull Racing, formando jóvenes promesas para dar el salto a la escudería "madre".</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/mclaren.jpg?4" class="card-img-top" alt="Auto-Mclaren">
      <div class="card-body">
        <h5 class="card-title fw-bold">Mclaren</h5>
        <p class="card-text">McLaren dio sus primeros pasos en la Fórmula 1 en 1966, de la mano de su fundador, el legendario Bruce McLaren. En cinco brillantes décadas de historia, McLaren ha participado en más de 800 carreras, obteniendo más de 180 victorias, más de 150 pole position, conquistando ocho campeonatos de constructores y doce de pilotos.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/aston-martin.jpg?4" class="card-img-top" alt="auto-aston-Martin">
      <div class="card-body">
        <h5 class="card-title fw-bold">Aston Martin</h5>
        <p class="card-text">Aston Martin Formula One Team es una escudería británica de Fórmula 1, comienza su andadura en la F1 en 2021 tras la adquisición del equipo Racing Point, el antiguo equipo indio llamado Force India.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/haas.jpg?4" class="card-img-top" alt="Auto-Hass">
      <div class="card-body">
        <h5 class="card-title fw-bold">Hass</h5>
        <p class="card-text">Haas F1 Team es el equipo más joven de la parrilla, fundado por el copropietario de un equipo de la NASCAR, Gene Haas, el año 2014. Los estadounidenses debutaron en 2016 con ayuda del fabricante de chasis italiano Dallara, además de contar con el motor Ferrari.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/alpine.jpg?4" class="card-img-top" alt="Auto-Alpine">
      <div class="card-body">
        <h5 class="card-title fw-bold">Alpine</h5>
        <p class="card-text">Escudería francesa de Fórmula 1, creada en 1977 y que retornó a la categoría para disputar la temporada 2016. Renault no participó como equipo entre 1986-2001 y 2012-2015, limitándose a suministrar motores a otros constructores.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/alfa-romeo.jpg?4" class="card-img-top" alt="Auto-Alfa-Romeo">
      <div class="card-body">
        <h5 class="card-title fw-bold">Alfa Romeo</h5>
        <p class="card-text">Es una escudería de Fórmula 1 con base en Hinwil, Suiza. Su nombre se debe al dueño y ex director de la escudería, Peter Sauber. La primera temporada en la que el equipo compitió en la categoría fue la de 1993, y en 2005 fue vendido a BMW.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/williams.jpg?4" class="card-img-top" alt="Auto-Williams">
      <div class="card-body">
        <h5 class="card-title fw-bold">Williams</h5>
        <p class="card-text">Anteriormente conocida como Williams F1 Team y tradicionalmente como Williams Grand Prix Engineering, es un equipo de Fórmula 1 creado en 1977 por Frank Williams y Patrick Head, al asociarse con Walter Wolf Racing</p>
      </div>
    </div>
  </div>
</div>
{{>footer}}