{{>header}}
{{>navbar}}
{{!-- <div class="container-fluid mx-1">
<div class="row justify-content-center text-center">
<div class="card m-2">
  <div class="card-body">
    <h5 class="card-title">Mercedez Benz</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <img src="https://formula1.lne.es/media/escuderias/big/mercedes.jpg?4" class="card-img-bottom" alt="...">
</div>
<div class="card m-2">
  <div class="card-body">
    <h5 class="card-title">Mercedez Benz</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
  </div>
  <img src="https://formula1.lne.es/media/escuderias/big/mercedes.jpg?4" class="card-img-bottom" alt="...">
</div>
</div>
</div> --}}
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/mercedes.jpg?4" class="card-img-top" alt="Auto-Mercedez">
      <div class="card-body">
        <h5 class="card-title">Mercedez Benz</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/red-bull.jpg?4" class="card-img-top" alt="Auto-Red-Bull">
      <div class="card-body">
        <h5 class="card-title">Red Bull</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/ferrari.jpg?4" class="card-img-top" alt="Auto-Ferrari">
      <div class="card-body">
        <h5 class="card-title">Ferrari</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/alphatauri.jpg?4" class="card-img-top" alt="Auto-Alpha-Tauri">
      <div class="card-body">
        <h5 class="card-title">Alpha Tauri</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/mclaren.jpg?4" class="card-img-top" alt="Auto-Mclaren">
      <div class="card-body">
        <h5 class="card-title">Mclaren</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/aston-martin.jpg?4" class="card-img-top" alt="auto-aston-Martin">
      <div class="card-body">
        <h5 class="card-title">Aston Martin</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/haas.jpg?4" class="card-img-top" alt="Auto-Hass">
      <div class="card-body">
        <h5 class="card-title">Hass</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/alpine.jpg?4" class="card-img-top" alt="Auto-Alpine">
      <div class="card-body">
        <h5 class="card-title">Alpine</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/alfa-romeo.jpg?4" class="card-img-top" alt="Auto-Alfa-Romeo">
      <div class="card-body">
        <h5 class="card-title">Alfa Romeo</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="https://formula1.lne.es/media/escuderias/big/williams.jpg?4" class="card-img-top" alt="Auto-Williams">
      <div class="card-body">
        <h5 class="card-title">Williams</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
{{>footer}}