h1{
    font-family: 'Reem Kufi Ink', sans-serif;
}
body{
    font-family: 'Roboto', sans-serif;;
}
.background{
    background-image: url(https://cdn.pixabay.com/photo/2017/04/08/17/00/tyre-2213746__340.jpg);   
    background-repeat: none;
    background-size: cover;
}